/* Color constants */
@lighttext: #bbb;
@defaultblue: #006ee9;
@darkreddish: #871a00;
@altblue: #0073e6;
@ghost: #c4c5c8;
@geyser: #ccced1;
@onahau: #c3e0f8;
@delta: #999694;
@citrus: #a5a300;

/* Other constants */
@lightpadding: 10px;
@smalltext-size: 8pt;

body {
  font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}

a {
  color: @altblue;
  cursor: pointer;
  text-decoration: none;
}

img.avatar {
  border-radius: 50%;
  width: 35px;
  height: auto;
}

public-content {
  min-height: 800px;
  width: 100%;
}

cropper {
  max-height: 500px;
  overflow: hidden;
  display: block;
}

poster {
  display: block;
}

intro {
  .jumbotron {
    background: transparent;
  }
}

site-header {
  background: @altblue;
  display: flex;
  flex: 0 0 55px;
  a { color: white }
  h1 {
    background: transparent url('/img/css/header/dp-logo.png') no-repeat -12px -13px;
    flex: 2 1 auto;
    font-size: 28pt;
    margin: 0;
    padding-top: 10px;
    padding-left: 60px;
    text-indent: -999px;
    text-shadow: 1px 1px 1px #222222;

  }
  .sign-in {
    margin: 10px 12px 20px 0;
    material-button span { padding-right: 10px }
  }
  .menu-icon {
    display: inline-block;
  }
  .dropdown {
    flex: 0 0 auto;
    padding: 8px 10px;
  }
}

material-input-group {
  label {
    margin-top: 5px;
  }
  label.invalid {
    color: red !important;
    &::after {
      content: ' (invalid)';
    }
  }
}

section {
  background: @ghost;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}

[site-header] {
  img {
    border-radius: 50%;
    width: 50px;
  }
}

footer {
  background: @geyser;
  border-top: 1px solid @altblue;
  color: @delta;
  font-size: @smalltext-size;
  padding: @lightpadding;
  text-align: center;
}

.propgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prop {
  align-self: auto;
  flex: 2 1 92px;
  .icon {
    cursor: pointer;
    height: auto;
    margin-top: -10px;
    margin-bottom: -10px;
    max-width: 92px;
    transition: all ease-out 300ms;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

footer {
  background: @geyser;
  border-top: 1px solid @altblue;
}

material-sidenav {
  flex: 1 1 auto;
  opacity: .9;
}

material-content.feed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;

  & > material-toolbar {
    flex: 1 1 300px%;
  }

  material-card {
    align-self: auto;
    flex: 1 1 300px;
    position: relative;

    h2 {
      margin-bottom: 0;
    }
    h3 {
      margin-top: 5px;
      font-weight: normal;
      min-height: 25px;
    }
    img.avatar {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 20px;
      left: 20px;
      width: 70px;
    }
    .love-action {
      a {
        color: silver;
        outline: 0 !important;
        transition: all ease-out 300ms;
        &.active, &:hover { color: red }
      }
      position: absolute;
      font-size: 26px;
      right: 20px;
      top: 8px;
    }
    .prop-details {
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 140px;
      padding: 0 20px 10px 20px;
      width: 100%;
      h2, h3 {
        padding-right: 40px;
      }
      h3 {
        min-height: 40px;
      }
    }
    .info {
      color: #777;
    }
  }
}

material-content.prop-details {
  background: white;
  opacity: 0.8;
  padding: 20px;
  position: absolute;
  left: 10px;
  top: 50px;
  width: 70%;

  form.prop-form {
    margin-top: 15px;

    input {
      border-color: black;
      width: 100%;
    }
  }
}

#propdialog {
  max-width: 80%;
  .dialog-content {
    overflow: hidden;
    position: relative;
  }
  img.prop.habitat {
    min-width: 300px;
    width: 100%;
    height: auto;
  }
  .dialog-actions {
    min-height: 60px;
    padding-right: 25px;
  }
}

/* iPhone 5  */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  #propdialog {
    max-width: 90%;
    material-content.prop-details {
      margin-top: -85px;
      padding: 10px;
      width: 100%;
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  #propdialog {
    max-width: 90%;
    material-content.prop-details {
      margin-top: -45px;
      padding: 10px;
      width: 100%;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
