/* Color constants */
/* Other constants */
body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
a {
  color: #0073e6;
  cursor: pointer;
  text-decoration: none;
}
img.avatar {
  border-radius: 50%;
  width: 35px;
  height: auto;
}
public-content {
  min-height: 800px;
  width: 100%;
}
cropper {
  max-height: 500px;
  overflow: hidden;
  display: block;
}
poster {
  display: block;
}
intro .jumbotron {
  background: transparent;
}
site-header {
  background: #0073e6;
  background-image: linear-gradient(bottom, #006ee9 2%, #47d5f8 100%);
  background-image: -o-linear-gradient(bottom, #006ee9 2%, #47d5f8 100%);
  background-image: -moz-linear-gradient(bottom, #006ee9 2%, #47d5f8 100%);
  background-image: -webkit-linear-gradient(bottom, #006ee9 2%, #47d5f8 100%);
  background-image: -ms-linear-gradient(bottom, #006ee9 2%, #47d5f8 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-2.1, #006ee9), color-stop(1, #47d5f8));
  display: flex;
  flex: 0 0 55px;
}
site-header a {
  color: #ffffff;
}
site-header h1 {
  background: transparent url('/img/css/header/yellow-star.png') no-repeat -12px -13px;
  flex: 2 1 auto;
  font-size: 28pt;
  margin: 0;
  padding-top: 10px;
  padding-left: 60px;
  text-indent: -999px;
  text-shadow: 1px 1px 1px #222222;
}
site-header .sign-in {
  margin: 10px 12px 20px 0;
}
site-header .sign-in material-button span {
  padding-right: 10px;
}
site-header .menu-icon {
  display: inline-block;
}
site-header .dropdown {
  flex: 0 0 auto;
  padding: 8px 10px;
}
material-input-group label {
  margin-top: 5px;
}
material-input-group label.invalid {
  color: red !important;
}
material-input-group label.invalid::after {
  content: ' (invalid)';
}
section {
  background: #c4c5c8;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}
[site-header] img {
  border-radius: 50%;
  width: 50px;
}
footer {
  background: #ccced1;
  border-top: 1px solid #0073e6;
  color: #999694;
  font-size: 8pt;
  padding: 10px;
  text-align: center;
}
.propgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.prop {
  align-self: auto;
  flex: 2 1 92px;
}
.prop .icon {
  cursor: pointer;
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  max-width: 92px;
  transition: all ease-out 300ms;
  opacity: 0.7;
}
.prop .icon:hover {
  opacity: 1;
}
footer {
  background: #ccced1;
  border-top: 1px solid #0073e6;
}
material-sidenav {
  flex: 1 1 auto;
  opacity: .9;
}
material-content.feed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
}
material-content.feed > material-toolbar {
  flex: 1 1 300px%;
}
material-content.feed material-card {
  align-self: auto;
  flex: 1 1 300px;
  position: relative;
}
material-content.feed material-card h2 {
  margin-bottom: 0;
}
material-content.feed material-card h3 {
  margin-top: 5px;
  font-weight: normal;
  min-height: 25px;
}
material-content.feed material-card img.avatar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70px;
}
material-content.feed material-card .love-action {
  position: absolute;
  font-size: 26px;
  right: 20px;
  top: 8px;
}
material-content.feed material-card .love-action a {
  color: silver;
  outline: 0 !important;
  transition: all ease-out 300ms;
}
material-content.feed material-card .love-action a.active,
material-content.feed material-card .love-action a:hover {
  color: #ff0000;
}
material-content.feed material-card .prop-details {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 140px;
  padding: 0 20px 10px 20px;
  width: 100%;
}
material-content.feed material-card .prop-details h2,
material-content.feed material-card .prop-details h3 {
  padding-right: 40px;
}
material-content.feed material-card .prop-details h3 {
  min-height: 40px;
}
material-content.feed material-card .info {
  color: #777;
}
material-content.prop-details {
  background: white;
  opacity: 0.8;
  padding: 20px;
  position: absolute;
  left: 10px;
  top: 50px;
  width: 70%;
}
material-content.prop-details form.prop-form {
  margin-top: 15px;
}
material-content.prop-details form.prop-form input {
  border-color: black;
  width: 100%;
}
#propdialog {
  max-width: 80%;
}
#propdialog .dialog-content {
  overflow: hidden;
  position: relative;
}
#propdialog img.prop.habitat {
  min-width: 300px;
  width: 100%;
  height: auto;
}
#propdialog .dialog-actions {
  min-height: 60px;
  padding-right: 25px;
}
/* iPhone 5  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  #propdialog {
    max-width: 90%;
  }
  #propdialog material-content.prop-details {
    margin-top: -85px;
    padding: 10px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  #propdialog {
    max-width: 90%;
  }
  #propdialog material-content.prop-details {
    margin-top: -45px;
    padding: 10px;
    width: 100%;
  }
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
