/* Color constants */
/* Other constants */
a {
  color: #006ce9;
  text-decoration: none;
}
img.avatar {
  border-radius: 50%;
  width: 35px;
  height: auto;
}
site-header {
  background: #006ce9;
  display: flex;
  flex: 0 0 55px;
}
site-header a {
  color: #ffffff;
}
site-header h1 {
  flex: 1 1 auto;
  margin: 0;
  padding: 8px 10px;
}
site-header .menu-icon {
  display: inline-block;
}
site-header .dropdown {
  flex: 0 0 auto;
  padding: 8px 10px;
}
material-input-group label {
  margin-top: 5px;
}
material-input-group label.invalid {
  color: red !important;
}
material-input-group label.invalid::after {
  content: ' (invalid)';
}
section {
  background: #c4c5c8;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}
[site-header] img {
  border-radius: 50%;
  width: 50px;
}
footer {
  background: #ccced1;
  border-top: 1px solid #006ce9;
  color: #999694;
  font-size: 8pt;
  padding: 10px;
  text-align: center;
}
.propgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.prop {
  align-self: auto;
  flex: 1 1 92px;
}
.prop .description {
  font-size: 8pt;
  padding: 10px;
}
.prop .icon {
  height: auto;
  margin-top: -20px;
  margin-bottom: -20px;
  max-width: 92px;
}
footer {
  background: #ccced1;
  border-top: 1px solid #006ce9;
}
material-sidenav {
  flex: 1 1 auto;
  opacity: .9;
}
material-content.feed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
}
material-content.feed > material-toolbar {
  flex: 1 1 300px%;
}
material-content.feed material-card {
  align-self: auto;
  flex: 1 1 300px;
  position: relative;
}
material-content.feed material-card h2 {
  margin-bottom: 0;
}
material-content.feed material-card h3 {
  margin-top: 5px;
  font-weight: normal;
  min-height: 25px;
}
material-content.feed material-card img.avatar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70px;
}
material-content.feed material-card .prop-details {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px 10px 20px;
  width: 100%;
}
material-content.feed material-card .info {
  color: #777;
}
material-content.prop-details {
  background: white;
  opacity: 0.8;
  padding: 20px;
  position: absolute;
  left: 10px;
  top: 50px;
  width: 70%;
}
material-content.prop-details form.prop-form {
  margin-top: 15px;
}
material-content.prop-details form.prop-form input {
  border-color: black;
  width: 100%;
}
#propdialog {
  max-width: 80%;
}
#propdialog .dialog-content {
  overflow: hidden;
  position: relative;
}
#propdialog img.prop.habitat {
  width: 100%;
  height: auto;
}
#propdialog .dialog-actions {
  min-height: 60px;
  padding-right: 25px;
}
/* iPhone 5  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  #propdialog {
    max-width: 90%;
  }
  #propdialog material-content.prop-details {
    margin-top: -85px;
    padding: 10px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  #propdialog {
    max-width: 90%;
  }
  #propdialog material-content.prop-details {
    margin-top: -45px;
    padding: 10px;
    width: 100%;
  }
}
.ng-cloak {
  display: none;
}
