@font-face {
    font-family: 'CoconRegularCondensed';
    src: url('/fonts/cocon-regularcondensed-webfont.eot');
    src: url('/fonts/cocon-regularcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cocon-regularcondensed-webfont.woff') format('woff'),
         url('/fonts/cocon-regularcondensed-webfont.ttf') format('truetype'),
         url('/fonts/cocon-regularcondensed-webfont.svg#CoconRegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoconRegular';
    src: url('/fonts/cocon-regular-webfont.eot');
    src: url('/fonts/cocon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cocon-regular-webfont.woff') format('woff'),
         url('/fonts/cocon-regular-webfont.ttf') format('truetype'),
         url('/fonts/cocon-regular-webfont.svg#CoconRegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoconLight';
    src: url('/fonts/cocon-light-webfont.eot');
    src: url('/fonts/cocon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cocon-light-webfont.woff') format('woff'),
         url('/fonts/cocon-light-webfont.ttf') format('truetype'),
         url('/fonts/cocon-light-webfont.svg#CoconRegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Pictos';
  src: url('/fonts/pictos-web.eot');
  src: local('☺'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRgBold';
    src: url('/fonts/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('/fonts/proximanova-regular-webfont.eot');
    src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regular-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRgItalic';
    src: url('/fonts/proximanova-regularitalic-webfont.eot');
    src: url('/fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regularitalic-webfont.woff') format('woff'),
         url('/fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regularitalic-webfont.svg#ProximaNovaRgItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLtItalic';
    src: url('/fonts/proximanova-lightitalic-webfont.eot');
    src: url('/fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-lightitalic-webfont.woff') format('woff'),
         url('/fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-lightitalic-webfont.svg#ProximaNovaLtItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
