<nav id="sideNav">
	<header>
    <img src="/img/css/sidenav/toggle.png" />     
  </header>

	<section>
		<figure><img class="avatar" src="//secure.gravatar.com/avatar/780d02a99798886da48711d8104801a4" /></figure>
	</section>

	<section>
		Jonathon
	  <ul id="main">
	    <li><a href="#">dashboard</a></li>
	    <li><a href="#">orders</a></li>
	    <li><a href="#">airpairs</a></li>	     	   
	    <li><a href="#">settings</a></li>	     	    
	  </ul>       
	</section>

	<section>
		Stack	
		<ul id="tags">
		  <li><a href="#">nodejs</a></li>
		  <li><a href="#">angularjs</a></li>		  
		  <li><a href="#">mongodb</a></li>	
		  <li><a href="#">passport</a></li>		  		  
		  <li><a href="#">svg</a></li>		  		  		  
		</ul>       
	</section>  

	<section>
		Bookmarks
		<ul id="bookmarks">
		  <li><a href="#">Starting a Mean Stack App</a></li>
		  <li><a href="#">AngularJS vs Backbone.js vs Ember.js</a></li>		    
		  <li><a href="#">Zero to Product Market Fit</a></li>		    		  
		</ul>       
	</section>  	
</nav>