material-toolbar.material-theme-light.material-medium-tall
  .menu-icon(hide-md ng-click="openLeftMenu()")
     material-icon(icon="img/icons/ic_menu_24px.svg")

  h1.material-toolbar-tools
    a(href='#', ng-click='goHome()')
      | DueProps

material-content(flex layout="horizontal")
  material-sidenav.material-sidenav-left.material-whiteframe-z3(layout="vertical" flex-sm="33" flex-md="20" component-id="left")
    material-content(flex)
      | this is content in the sidenav
    button(ng-click="login()")
      | login
      material-ripple(initial-opacity='0.4' opacity-decay-velocity='1.75')

  material-content(flex layout='vertical' layout-fill)
    | This is where the feed goes

footer
  | Copyright &copy; 2010-2014 DueProps.com
  | &nbsp;∙&nbsp;
  a(href="mailto:support@dueprops.com") Support
