material-toolbar.material-theme-light
  .menu-icon(hide-md ng-click="openLeftMenu()")
     material-icon(icon="img/icons/ic_menu_24px.svg")

  material-content(flex layout="horizontal")
    h1.material-toolbar-tools
      a(href='#', ng-click='goHome()')
        | DueProps

    a(ng-click="login('google')" ng-hide="user")
      | login with google
    a(ng-click="logout()" ng-show="user")
      | logout

material-content(flex layout="horizontal")
  material-sidenav.material-sidenav-left.material-whiteframe-z3(layout="vertical" flex-sm="33" flex-md="20" component-id="left")
    material-content(flex)
      material-list
        material-item.prop(ng-repeat="prop in props")
          material-button(ng-click="openPropDialog(prop)")
            .material-tile-content
              img(ng-src="{{prop.icon}}" class="prop icon")
              h3 {{ prop.name }}
              .description
                {{ prop.description }}


  material-content(flex layout='vertical' layout-fill)
    | This is where the feed goes

footer
  | Copyright &copy; 2010-2014 DueProps.com
  | &nbsp;∙&nbsp;
  a(href="mailto:support@dueprops.com") Support
