doctype html
html(lang="en" ng-app="DueProps")
  head
    title DueProps 2.0 | Keep Culture Healthy with Appreciation
    include views/shared/head
  body(dueprops layout="column" layout-fill ng-cloak)


