doctype html
html(lang="en" ng-app="DueProps")
  head
    title DueProps 2.0 | Keep Culture Healthy with Appreciation
    meta(name='HandheldFriendly' content='True')
    meta(name='MobileOptimized' content='320')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" type="text/css")
    link(rel="stylesheet" href="lib/angular-material/angular-material.css" type="text/css")
    link(rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.css" type="text/css")
    link(rel="stylesheet" href="css/application.css" type="text/css")
    link(rel="stylesheet" href="css/animations.css" type="text/css")

    // build:js1 /primary.js
    script(type="text/javascript" src="lib/lodash/dist/lodash.js")
    script(type="text/javascript" src="lib/moment/moment.js")
    script(type="text/javascript" src="lib/jquery/dist/jquery.js")
    script(type="text/javascript" src="lib/angular/angular.js")
    script(type="text/javascript" src="lib/angular-animate/angular-animate.js")
    script(type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.js")
    script(type="text/javascript" src="lib/angular-material/angular-material.js")
    script(type="text/javascript" src="lib/firebase/firebase.js")
    script(type="text/javascript" src="lib/firebase-simple-login/firebase-simple-login.js")
    script(type="text/javascript" src="lib/angularfire/dist/angularfire.js")
    script(type="text/javascript" src="lib/angular-moment/angular-moment.js")
    // endbuild

    script(type="text/javascript" src="application.js")
    script(type="text/javascript" src="directives.js")
    script(type="text/javascript" src="props.js")
    script(type="text/javascript" src="shared/header-controller.js")
    script(type="text/javascript" src="shared/prop-card.js")

  body(dueprops layout="vertical" layout-fill ng-cloak)


