material-dialog#propdialog
  .dialog-content
    img(ng-src="{{draft.habitat}}" class="prop habitat" altSrc="{{draft.large}}" onerror="this.src = $(this).attr('altSrc')")
    material-content.prop-details
      h1 {{draft.name}}
      p {{draft.description}}
      form.prop-form
        draft-input.material-input-group-theme-light-blue(fid="to" label="to" draft="draft")
        draft-input.material-input-group-theme-light-blue(fid="reason" label="why are they deserved?" draft="draft" limit="140")

  .dialog-actions(ng-click="close()")
    material-button(ng-hide="Props.validate(draft)") Cancel
    material-button.material-button-raised.material-theme-green(ng-click="Props.send(draft)" ng-show="Props.validate(draft)") Save and Send
