.menu-icon(ng-click="openLeftMenu()")
   material-icon(hide-md hide-lg icon="img/icons/ic_menu_24px.svg")
h1
  a(href='#', ng-click='goHome()')
    | DueProps

.sign-in(ng-hide="currentUser")
  material-button.material-button-raised.material-theme-green(ng-click="login('google')")
    span login with
    i.fa.fa-google

.dropdown(ng-show="currentUser" ng-cloak)
  a(href="#").dropdown-toggle
    img.avatar(ng-src="{{currentUser.thirdPartyUserData.picture}}")
  ul.dropdown-menu.dropdown-menu-right(role="menu")
    li.dropdown-header(role="presentation")
      | Signed in as {{ currentUser.email }}
    li
      a(ng-click="account()") Account Settings
    li
      a(ng-click="profile()") My Profile
    li
      a(ng-click="logout()") Sign out
