.menu-icon(ng-click="openLeftMenu()")
   material-icon(hide-md hide-lg icon="img/icons/ic_menu_24px.svg")
h1
  a(href='#', ng-click='goHome()')
    | DueProps

sign-in(ng-hide="currentUser")
  a(ng-click="login('google')")
    | login with google

.dropdown(ng-show="currentUser")
  a(href="#").dropdown-toggle
    img.avatar(ng-src="{{currentUser.thirdPartyUserData.picture}}")
  ul.dropdown-menu.dropdown-menu-right(role="menu")
    li.dropdown-header(role="presentation")
      {{ currentUser.email }}
    li
      a(ng-click="logout()") Sign out
