material-card
  img.material-card-image(ng-src="{{card.habitat}}")
  img.avatar(ng-src="{{card.sent_by.thirdPartyUserData.picture}}")
  material-content.prop-details
    .love-action(title="Love these props")
      a(ng-click="Props.love(card)" ng-class="{active: Props.loved(card)}")
        i.fa.fa-heart

    h2 {{ card.name }}
    h3 {{ card.reason }}
    p.info
      em
      | Sent&nbsp;
      timestamp(ng-if='card.sent_at', am-time-ago='card.sent_at')
      | &nbsp;by&nbsp;
      who {{ card.sent_by.thirdPartyUserData.given_name }}
