site-header
main(layout='row', layout-fill='layout-fill')
  md-sidenav.md-sidenav-left(md-component-id='left')
    md-content.propgrid(layout='row')
      .prop(ng-repeat='prop in currentUser.props')
        img.icon(ng-click='openPropDialog(prop)', ng-src='{{prop.icon}}')
  md-content.feed(layout='row', style='align-items: flex-start; align-content: flex-start; width: 100%')
    md-toolbar.md-theme-light
      .md-toolbar-tools
        i.fa.fa-bars(fa-4x='', ng-click='openLeftMenu()')
        | hhh
    prop-card(ng-repeat='card in currentUser.feed', ng-animate="'animate'")
footer(ng-if='currentUser')
  | Copyright © 2010-2014 DueProps.com
  | ∙ 
  a(href='mailto:support@dueprops.com') Support
